<a href="https://colab.research.google.com/github/gridface/ml-technical-analysis/blob/main/centaur_portfolio_projection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Portfolio Analysis with Pandas

## Define Your Variables

In [88]:
import pandas as pd, yfinance as yf


#here we define an array of stock tickers that will be fed into our program.
#change these tickers as desired
portfolio = ["ZIM", "T", "MOS", "VALE", "ENB", "ADM" ]

#what period do you want to evaluate?
# use "period" instead of start/end
# valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
# (optional, default is '1mo')
per = "3y"

In [84]:
#here we will grab the top 500 stocks from wikipedia to use as our ticker input instead of hardcoding
import sqlite3
con = sqlite3.connect('portfolio.db')
con = sqlite3.connect('portfolio.db')
table=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
df = table[0]
sp500 = df.iloc[:,0].tolist()

In [85]:
stocks = yf.download(sp500,period=per)[['Adj Close','Volume']]

[*********************100%***********************]  503 of 503 completed

2 Failed downloads:
- BF.B: No data found for this date range, symbol may be delisted
- BRK.B: No data found, symbol may be delisted

In [86]:
#Use this for jupyter standalone
# #this step flattens out the index 
stocks.columns = stocks.columns.to_flat_index()

# #creates a multiindex for better sorting and grouping of data
# # check this link for more info https://pandas.pydata.org/docs/user_guide/advanced.html
stocks.columns = pd.MultiIndex.from_tuples(stocks.columns)

# #lets switch levels now so we can group on individual stocks at the top level
stocks.swaplevel(axis = 1).sort_index(axis=1)

                     A                 AAL                   AAP           \
             Adj Close   Volume  Adj Close    Volume   Adj Close   Volume
Date
2018-02-20   68.446167  2580400  50.506680   3379700   99.038689  2369200
2018-02-21   68.609886  1995600  51.541809   5396700  107.170509  5545200
2018-02-22   68.061005  2403400  51.737118   4356700  103.870766  1465800
2018-02-23   68.080246  4227000  52.137501   3394700  109.351517  1504200
2018-02-26   67.964699  5947400  53.709728   4962100  107.969582  1409600
...                ...      ...        ...       ...         ...      ...
2023-02-13  154.600006   925400  16.510000  15649900  152.190002   695400
2023-02-14  153.039993   895400  16.790001  17467900  150.759995   954500
2023-02-15  151.750000   982400  16.799999  12470200  151.289993  1094200
2023-02-16  148.279999  1101700  16.389999  15054700  150.190002  1369300
2023-02-17  148.259995  1194800  16.360001  21876800  149.990005  1279600

                  AAPL                   ABBV           ...         YUM  \
             Adj Close     Volume   Adj Close   Volume  ...   Adj Close
Date                                                    ...
2018-02-20   40.957058  135722000   93.318878  8751400  ...   71.787094
2018-02-21   40.771168  149886400   93.263512  5122500  ...   71.538857
2018-02-22   41.111973  123967600   92.986649  5185700  ...   72.007759
2018-02-23   41.826962  135249600   93.927933  4685700  ...   73.368462
2018-02-26   42.653965  152648800   96.134727  4473500  ...   74.076408
...                ...        ...         ...      ...  ...         ...
2023-02-13  153.850006   62199000  153.729996  5602600  ...  132.520004
2023-02-14  153.199997   61707600  152.589996  4662800  ...  130.830002
2023-02-15  155.330002   65669300  151.059998  5648400  ...  131.669998
2023-02-16  153.710007   68167900  149.529999  3757500  ...  131.720001
2023-02-17  152.550003   59095900  151.309998  4562400  ...  132.039993

                            ZBH                 ZBRA                ZION  \
             Volume   Adj Close   Volume   Adj Close   Volume  Adj Close
Date
2018-02-20  2553700  110.892357   683611  120.070000   537500  47.757755
2018-02-21  2209900  110.854988  1018258  120.349998   645800  48.530972
2018-02-22  1881100  109.827507   914846  135.240005  1421300  47.540543
2018-02-23  2329600  111.013779   652299  141.899994   797800  48.374599
2018-02-26  1790000  111.975876   657758  140.990005   771800  48.904560
...             ...         ...      ...         ...      ...        ...
2023-02-13  2178500  128.050003  1247800  318.950012   287500  52.488678
2023-02-14  1711600  126.709999  1395000  318.760010   192600  52.320000
2023-02-15  1456800  126.510002  1022200  327.019989   305600  52.180000
2023-02-16  1922700  125.110001  1410900  333.440002   555800  51.389999
2023-02-17  1253000  125.970001  1026800  322.579987   496800  51.430000

                            ZTS
             Volume   Adj Close   Volume
Date
2018-02-20  2093200   77.857056  3646700
2018-02-21  2644800   78.002411  3403100
2018-02-22  1836000   78.254356  2417700
2018-02-23  2001600   80.221375  2697200
2018-02-26  1938100   80.715538  2211700
...             ...         ...      ...
2023-02-13  1241600  163.139999  2349200
2023-02-14  1189700  171.899994  3532400
2023-02-15   951500  175.020004  2510800
2023-02-16   935000  173.929993  1951100
2023-02-17  1120200  172.029999  1954500

[1259 rows x 1006 columns]

## Notebook Setup

In [87]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1259 entries, 2018-02-20 00:00:00 to 2023-02-17 00:00:00
Columns: 1006 entries, ('Adj Close', 'A') to ('Volume', 'ZTS')
dtypes: float64(516), int64(490)
memory usage: 9.7+ MB

In [65]:
#this block is to point jupyter to our custom libraries
%load_ext autoreload
%autoreload 2
import os
import sys
module_path = os.path.abspath(os.path.join('../../libs'))
sys.path.insert(0, module_path)

#****************
# uncomment this block to install the yahoo finance api library for standalone and hosted jupyter notebooks. 
# !pip install yfinance
# import yfinance as yf
#****************

# once it is installed, we can import it like any other installed library
#pandas and matplotlib libraries are already part of colab, so we just import them
import pandas as pd, matplotlib.pyplot as plt

#to run the full app, pull in our custom libraries
import libs.collector as collector
import libs.indicators as indicators
#import libs.dbloader as dbloader

#general note on running notebooks: if you get an "undefined" type error, remember that you have to 
#run each of the cells in order sequentially first in order to "define" the variables
#and execute the commands. so if you get the "undefined" error, go back up and make sure you 
#have run all the lines that came before your troublesome line of code

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

ModuleNotFoundError: No module named 'libs'

## Get Your Portfolio Data

In [3]:
#notice the format of this data - it has a two-tiered header - [measurement]/[ticker]
# we will be changing this around below to make it easier to work with

#****************
#run this codeblock if you are running jupyter notebook as a standalone
# stocks = yf.download(portfolio,period=per)
#convert the time index to datetime type. this lets us do special date functions
# pd.to_datetime(stocks.iloc[0])
#****************

stocks = collector.get_yfinance_stocks(portfolio,per)

stocks

[*********************100%***********************]  6 of 6 completed

            Adj Close                                                         \
                  ADM        ENB        MOS          T       VALE        ZIM
Date
2022-01-14  70.217232  39.153576  42.793060  19.343100  14.575356  39.330956
2022-01-18  69.942444  39.632893  43.169224  19.435617  14.698555  39.108677
2022-01-19  69.677475  39.595303  41.516102  19.414268  15.333502  37.991108
2022-01-20  67.606781  39.256958  40.120350  19.229235  15.153441  37.873795
2022-01-21  67.655853  38.354717  38.912685  18.937450  14.783846  35.885635
...               ...        ...        ...        ...        ...        ...
2023-01-09  85.370003  41.000000  47.200001  19.040001  17.520000  17.059999
2023-01-10  86.230003  40.980000  44.830002  19.469999  17.959999  17.530001
2023-01-11  86.680000  41.310001  45.220001  19.410000  17.900000  17.420000
2023-01-12  87.389999  41.919998  46.980000  19.410000  18.379999  17.139999
2023-01-13  88.400002  41.759998  46.320000  19.549999  18.430000  17.010000

                Close                                   ...       Open  \
                  ADM        ENB        MOS          T  ...        MOS
Date                                                    ...
2022-01-14  71.550003  41.660000  43.230000  20.528702  ...  42.849998
2022-01-18  71.269997  42.169998  43.610001  20.626888  ...  42.900002
2022-01-19  71.000000  42.130001  41.939999  20.604231  ...  43.270000
2022-01-20  68.889999  41.770000  40.529999  20.407854  ...  41.990002
2022-01-21  68.940002  40.810001  39.310001  20.098186  ...  40.060001
...               ...        ...        ...        ...  ...        ...
2023-01-09  85.370003  41.000000  47.200001  19.040001  ...  46.709999
2023-01-10  86.230003  40.980000  44.830002  19.469999  ...  47.630001
2023-01-11  86.680000  41.310001  45.220001  19.410000  ...  44.889999
2023-01-12  87.389999  41.919998  46.980000  19.410000  ...  45.330002
2023-01-13  88.400002  41.759998  46.320000  19.549999  ...  45.070000

                                              Volume                     \
                    T       VALE        ZIM      ADM       ENB      MOS
Date
2022-01-14  20.105740  15.060000  62.000000  1757300   4243100  6419400
2022-01-18  20.551359  15.530000  62.610001  2094000   7259000  5102100
2022-01-19  20.732628  16.139999  63.750000  2638500   7149400  4603200
2022-01-20  20.490936  16.370001  62.459999  3803700   7449700  4546000
2022-01-21  20.271902  15.930000  60.500000  5093300  10735400  5003000
...               ...        ...        ...      ...       ...      ...
2023-01-09  19.240000  17.459999  17.459999  3935900   2397500  4823900
2023-01-10  19.350000  17.799999  17.049999  2615000   2209600  4336400
2023-01-11  19.469999  18.059999  17.309999  2692500   1871600  4701900
2023-01-12  19.480000  18.190001  17.400000  2813100   2613000  4347100
2023-01-13  19.389999  18.260000  17.000000  2488300   3010600  4315900


                   T      VALE      ZIM
Date
2022-01-14  72617163  25261600  2479100
2022-01-18  80247772  30724100  3122900
2022-01-19  67442309  36933100  2950200
2022-01-20  55659239  35470000  2719200
2022-01-21  79715392  45786200  5136600
...              ...       ...      ...
2023-01-09  51981100  22693900  4061800
2023-01-10  32869500  28056900  3192100
2023-01-11  30010200  21824200  4009800
2023-01-12  31740400  17878300  4495500
2023-01-13  25476000  16543700  3915000

[251 rows x 36 columns]

In [5]:
#Use this for jupyter standalone
# #this step flattens out the index 
stocks.columns = stocks.columns.to_flat_index()

# #creates a multiindex for better sorting and grouping of data
# # check this link for more info https://pandas.pydata.org/docs/user_guide/advanced.html
stocks.columns = pd.MultiIndex.from_tuples(stocks.columns)

# #lets switch levels now so we can group on individual stocks at the top level
stocks.swaplevel(axis = 1).sort_index(axis=1)

In [6]:
stocks = collector.flatten(stocks)

stocks

            Adj Close                                                         \
                  ADM        ENB        MOS          T       VALE        ZIM
Date
2022-01-14  70.217232  39.153576  42.793060  19.343100  14.575356  39.330956
2022-01-18  69.942444  39.632893  43.169224  19.435617  14.698555  39.108677
2022-01-19  69.677475  39.595303  41.516102  19.414268  15.333502  37.991108
2022-01-20  67.606781  39.256958  40.120350  19.229235  15.153441  37.873795
2022-01-21  67.655853  38.354717  38.912685  18.937450  14.783846  35.885635
...               ...        ...        ...        ...        ...        ...
2023-01-09  85.370003  41.000000  47.200001  19.040001  17.520000  17.059999
2023-01-10  86.230003  40.980000  44.830002  19.469999  17.959999  17.530001
2023-01-11  86.680000  41.310001  45.220001  19.410000  17.900000  17.420000
2023-01-12  87.389999  41.919998  46.980000  19.410000  18.379999  17.139999
2023-01-13  88.400002  41.759998  46.320000  19.549999  18.430000  17.010000

                Close                                   ...       Open  \
                  ADM        ENB        MOS          T  ...        MOS
Date                                                    ...
2022-01-14  71.550003  41.660000  43.230000  20.528702  ...  42.849998
2022-01-18  71.269997  42.169998  43.610001  20.626888  ...  42.900002
2022-01-19  71.000000  42.130001  41.939999  20.604231  ...  43.270000
2022-01-20  68.889999  41.770000  40.529999  20.407854  ...  41.990002
2022-01-21  68.940002  40.810001  39.310001  20.098186  ...  40.060001
...               ...        ...        ...        ...  ...        ...
2023-01-09  85.370003  41.000000  47.200001  19.040001  ...  46.709999
2023-01-10  86.230003  40.980000  44.830002  19.469999  ...  47.630001
2023-01-11  86.680000  41.310001  45.220001  19.410000  ...  44.889999
2023-01-12  87.389999  41.919998  46.980000  19.410000  ...  45.330002
2023-01-13  88.400002  41.759998  46.320000  19.549999  ...  45.070000

                                              Volume                     \
                    T       VALE        ZIM      ADM       ENB      MOS
Date
2022-01-14  20.105740  15.060000  62.000000  1757300   4243100  6419400
2022-01-18  20.551359  15.530000  62.610001  2094000   7259000  5102100
2022-01-19  20.732628  16.139999  63.750000  2638500   7149400  4603200
2022-01-20  20.490936  16.370001  62.459999  3803700   7449700  4546000
2022-01-21  20.271902  15.930000  60.500000  5093300  10735400  5003000
...               ...        ...        ...      ...       ...      ...
2023-01-09  19.240000  17.459999  17.459999  3935900   2397500  4823900
2023-01-10  19.350000  17.799999  17.049999  2615000   2209600  4336400
2023-01-11  19.469999  18.059999  17.309999  2692500   1871600  4701900
2023-01-12  19.480000  18.190001  17.400000  2813100   2613000  4347100
2023-01-13  19.389999  18.260000  17.000000  2488300   3010600  4315900


                   T      VALE      ZIM
Date
2022-01-14  72617163  25261600  2479100
2022-01-18  80247772  30724100  3122900
2022-01-19  67442309  36933100  2950200
2022-01-20  55659239  35470000  2719200
2022-01-21  79715392  45786200  5136600
...              ...       ...      ...
2023-01-09  51981100  22693900  4061800
2023-01-10  32869500  28056900  3192100
2023-01-11  30010200  21824200  4009800
2023-01-12  31740400  17878300  4495500
2023-01-13  25476000  16543700  3915000

[251 rows x 36 columns]

## Create Analytical Fields

In [7]:
close = stocks['Close'].copy()
close

                  ADM        ENB        MOS          T       VALE        ZIM
Date
2022-01-14  71.550003  41.660000  43.230000  20.528702  15.380000  63.700001
2022-01-18  71.269997  42.169998  43.610001  20.626888  15.510000  63.340000
2022-01-19  71.000000  42.130001  41.939999  20.604231  16.180000  61.529999
2022-01-20  68.889999  41.770000  40.529999  20.407854  15.990000  61.340000
2022-01-21  68.940002  40.810001  39.310001  20.098186  15.600000  58.119999
...               ...        ...        ...        ...        ...        ...
2023-01-09  85.370003  41.000000  47.200001  19.040001  17.520000  17.059999
2023-01-10  86.230003  40.980000  44.830002  19.469999  17.959999  17.530001
2023-01-11  86.680000  41.310001  45.220001  19.410000  17.900000  17.420000
2023-01-12  87.389999  41.919998  46.980000  19.410000  18.379999  17.139999
2023-01-13  88.400002  41.759998  46.320000  19.549999  18.430000  17.010000

[251 rows x 6 columns]

In [8]:
len(close.columns)

6

In [13]:
# import numpy as np

# def moving_averages(Data):
#   for i in range(len(Data.columns)):
#     try:
#       Data[str(Data.columns[i]) + '_MA10'] = Data[Data.columns[i]].rolling(10).mean()
#       Data[str(Data.columns[i]) + '_MA50'] = Data[Data.columns[i]].rolling(50).mean()
#       Data[str(Data.columns[i]) + '_MA200'] = Data[Data.columns[i]].rolling(200).mean()
#     except ValueError:
#       pass
#   return Data

# # Exponential moving average (EMA) tells us the weighted mean of the previous K data points. 
# # EMA places a greater weight and significance on the most recent data points. 
# # In python we use the Exponentially Weighted set of functions (the mean, in our case)
# def exp_moving_averages(Data):
#   for i in range(len(Data.columns)):
#     try:
#       Data[str(Data.columns[i]) + '_EMA10'] = Data[Data.columns[i]].ewm(span=10, adjust=False).mean()
#       Data[str(Data.columns[i]) + '_EMA50'] = Data[Data.columns[i]].ewm(span=50, adjust=False).mean()
#       Data[str(Data.columns[i]) + '_EMA200'] = Data[Data.columns[i]].ewm(span=200, adjust=False).mean()
#     except ValueError:
#       pass
#   return Data


# def pct_change(Data):
#   for i in range(len(Data.columns)):
#     try:
#       Data[str(Data.columns[i]) + '_pct_change'] = Data[Data.columns[i]].pct_change()
#     except ValueError:
#       pass
#   return Data

# def log_returns(Data):
#   for i in range(len(Data.columns)):
#     try:
#       Data[str(Data.columns[i]) + '_log_returns'] = np.log(Data[Data.columns[i]]/Data[Data.columns[i]].shift())
#     except ValueError:
#       pass
#   return Data

In [14]:
ma = indicators.moving_averages(close)
ema = indicators.exp_moving_averages(close)

ema.tail()

,ADM,ENB,MOS,T,VALE,ZIM,ADM_MA10,ADM_MA50,ADM_MA200,ENB_MA10,...,ZIM_MA50_MA200_EMA200,ZIM_MA200_MA10_EMA10,ZIM_MA200_MA10_EMA50,ZIM_MA200_MA10_EMA200,ZIM_MA200_MA50_EMA10,ZIM_MA200_MA50_EMA50,ZIM_MA200_MA50_EMA200,ZIM_MA200_MA200_EMA10,ZIM_MA200_MA200_EMA50,ZIM_MA200_MA200_EMA200
Date,,,,,,,,,,,,,,,,,,,,,
2023-01-09,85.370003,41.000000,47.200001,19.040001,17.520000,17.059999,90.171001,93.5270,87.39915,39.626,...,NaN,43.852894,47.574756,50.453451,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-10,86.230003,40.980000,44.830002,19.469999,17.959999,17.530001,89.332001,93.3690,87.37815,39.775,...,NaN,43.545469,47.362493,50.370950,NaN,NaN,NaN,NaN,NaN,NaN
2023-01-11,86.680000,41.310001,45.220001,19.410000,17.900000,17.420000,88.409001,93.2050,87.34410,39.940,...,47.256594,43.236043,47.146067,50.286101,47.256594,47.256594,47.256594,NaN,NaN,NaN
2023-01-12,87.389999,41.919998,46.980000,19.410000,18.379999,17.139999,87.786001,93.0132,87.31930,40.251,...,47.254092,42.925922,46.925844,50.198979,47.210872,47.246732,47.254092,NaN,NaN,NaN
2023-01-13,88.400002,41.759998,46.320000,19.549999,18.430000,17.010000,87.314001,92.8306,87.32210,40.500,...,47.249094,42.616162,46.702173,50.109659,47.127410,47.227324,47.249094,NaN,NaN,NaN

## Plot the Data

In [ ]:
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [ ]:
# for reference, lets list our columns
# IDEA: consider breaking our dataset into a number of new datasets for each ticker and their analysis
close.columns

In [ ]:
close.plot(figsize = (15,8 ), fontsize = 13)
plt.legend(fontsize = 13)
plt.show()

In [ ]:
# lets normalize our data so we can start on the same starting point for all the stocks
# to do this, we take the close price from the first record in the time series, then we divide all of the 
# other stock close number by that value. from there, we multiply the numbers again by 100 to get a positive number
norm = close.div(close.iloc[0]).mul(100)

In [ ]:
norm.plot(figsize = (15, 8 ), fontsize = 13)
plt.legend(fontsize = 13)
plt.show()

In [ ]:
norm.describe()

In [ ]:
#in order to get daily returns, use the shift() method
lag1 = close.shift(periods = 1)

In [ ]:
adm = close.ADM.copy().to_frame()

In [ ]:
adm["lag1"] = adm.shift(periods = 1)

In [ ]:
adm.plot(figsize = (15, 8 ), fontsize = 13)
plt.legend(fontsize = 13)
plt.show()

In [ ]:
# close["adm_diff"] = close.ADM.sub(close.ADM.shift(periods = 1)

In [ ]:
#or we can just use the diff and pct_change methods - which is supposed to do the same thing but....
adm["adm_chg_pct"] = close.ADM.pct_change()

In [ ]:

from importlib import reload
plt=reload(plt)

plt.plot(figsize = (100, 8 ), fontsize = 13)
plt.plot(adm["adm_chg_pct"])

plt.xlabel("Date")
plt.ylabel("Change Pct")
plt.title("Annual Daily Percentage Change")

# Display

plt.show()

In [ ]:
adm.head()